body{
	line-height: 1.75;
	background: rgb(28,28,28);
}

.row{
  /*height: 250px;*/
  /*exchanged for box-declared height*/
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.draggableBox{
  height: 250px;
}

.empty {
  display: inline-block;
  /* height: 160px; */
  width: 95%;
  margin: 3px;
  border: solid 2px salmon;
  background: white;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

